body {
  margin: 0;
  padding: 0;
  background: var(--carbon-black);
  color: var(--white);
  font-family: "text";
  width: 100%;
}

* {
  scroll-behavior: smooth;
}

:root {
  --carbon-black: #222222;
  --white: #fffff0;
  --baltic-blue: #1c5d99;
  --pacific-blue: #639fab;
  --powder-blue: #bbcde5;
}

@font-face {
  font-family: "text";
  src: url(.//fonts//HungryCharlie-Serif.ttf);
}

@font-face {
  font-family: "header";
  src: url(.//fonts///monograph-Regular.ttf);
}

// NAVBAR : DESKTOP
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ffffff24;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  z-index: 100;
  background: var(--carbon-black);

  h1 {
    margin-left: 40px;

    @media screen and (max-width: 1200px) {
      margin-left: 10px;
      font-size: 18px;
    }

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: var(--pacific-blue);
      border-radius: 100%;
      box-shadow: 0 0 10px 0 var(--pacific-blue);
      margin-left: 10px;

      animation: shadow 1s ease-in-out infinite alternate;
      @keyframes shadow {
        0% {
          box-shadow: 0 0 10px 0 var(--pacific-blue);
        }
        100% {
          box-shadow: 0 0 10px 2px var(--pacific-blue);
        }
      }

      @media screen and (max-width: 1200px) {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        position: fixed;
      }
    }
  }

  .nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 60px;
    font-size: 18px;

    @media screen and (max-width: 820px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: var(--white);
      -webkit-tap-highlight-color: transparent;
    }
    a:hover {
      color: var(--powder-blue);
    }
  }

  @media screen and (max-width: 1200px) {
    height: 50px;
    padding-top: 8px;
  }

  button {
    display: none;

    @media screen and (max-width: 820px) {
      display: block;
      margin-right: 20px;
      height: 30px;
      font-family: "text";
      font-size: 15px;
      margin-top: 5px;
      background: none;
      border: solid 1px var(--white);
      border-radius: 5px;
      color: var(--white);
    }
  }
}

// NAVBAR : MOBILE
.nav-mobile {
  background: var(--carbon-black);

  @media screen and (max-width: 820px) {
    position: fixed;
    padding-top: 80px;
    font-size: 14px;
    width: 100%;
    top: 0;
    border-bottom: solid 1px #ffffff24;
    z-index: 99;
  }

  .nav {
    margin-left: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  a {
    text-decoration: none;
    color: var(--white);
    -webkit-tap-highlight-color: transparent;
  }
  a:hover {
    color: var(--powder-blue);
  }
}

// FONCTION : NAVBAR
.hidden {
  display: none;
}

// CONTENU
.hero-contenu {
  margin-top: 70px;
  justify-content: center;
  display: flex;

  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }
}

// HERO
.hero {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: #292929;
  padding-top: 10vh;

  @media screen and (max-width: 1200px) {
    padding-top: 20px;
  }

  .top {
    justify-items: center;
    display: grid;
    text-align: center;

    p {
      margin-bottom: -80px;
      font-size: 18px;
      color: gray;

      @media screen and (max-width: 1200px) {
        font-size: 8px;
        margin-bottom: -10px;
      }
    }

    h1 {
      font-family: "header";
      font-size: 140px;
      margin-bottom: -170px;

      @media screen and (max-width: 1200px) {
        font-size: 35px;
        margin-bottom: -40px;
      }
    }
    h1:nth-child(3) {
      display: block;
      font-size: 200px;
      color: var(--pacific-blue);
      // z-index: -1;

      @media screen and (max-width: 1200px) {
        font-size: 50px;
        margin-bottom: -15px;
      }
    }
    h1:hover {
      scale: 1.1;
      transition: all 0.15s ease-in-out;
    }

    .profil {
      img {
        width: 450px;
        margin-top: -50px;
        margin-bottom: -2px;
        opacity: 0;
        animation: enter 0.5s ease-out forwards 1.5s;

        @media screen and (max-width: 1200px) {
          width: 250px;
          margin-top: 10px;
          margin-bottom: -3px;
        }

        @keyframes enter {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

// ABOUT ME
.about-contenu {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;

  .about {
    width: 1600px;

    @media screen and (max-width: 1200px) {
      width: 90vw;
    }

    h1 {
      font-family: "header";
      font-size: 90px;
      margin-left: 20px;
      color: var(--pacific-blue);
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media screen and (max-width: 1200px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 25px;
      margin-top: -20px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 20%;

      @media screen and (max-width: 1200px) {
        font-size: 12px;
        text-align: center;
        margin-top: -10px;
      }
    }

    @keyframes scroll {
      0% {
        opacity: 0;
        transform: translateY(200px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// SKILLS
.skills-contenu {
  animation: scroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
  justify-items: center;
  display: grid;
  margin-bottom: 180px;

  h1 {
    font-size: 90px;
    font-family: "header";
    color: var(--pacific-blue);

    @media screen and (max-width: 1200px) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  .skills {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      gap: 5px;
      row-gap: 15px;
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    .box {
      .img-box {
        background: var(--carbon-black);
        width: 95%;
        margin-top: 5px;
        border: solid 1px #ffffff24;
        border-radius: 5px;

        .img {
          filter: invert(100);
          width: 30px;

          @media screen and (max-width: 1200px) {
            width: 25px;
          }
        }
      }

      width: 300px;
      border: solid 1px #ffffff24;
      border-radius: 6px;
      background: #292929;
      text-align: center;
      justify-items: center;
      justify-content: center;
      font-size: 25px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media screen and (max-width: 1200px) {
        font-size: 10px;
        width: 170px;
      }
    }

    p:nth-child(2) {
      width: 100%;
    }

    p:nth-child(3),
    p:nth-child(4) {
      border: solid 1px #ffffff24;
      border-radius: 5px;
      padding: 5px;
      width: 90%;
      text-align: start;
      background: var(--carbon-black);

      @media screen and (max-width: 1200px) {
        width: 90%;
      }
    }

    p:nth-child(3) {
      margin-bottom: -20px;

      @media screen and (max-width: 1200px) {
        margin-bottom: -7px;
      }
    }
    p:nth-child(4) {
      margin-bottom: 5px;

      @media screen and (max-width: 1200px) {
        margin-bottom: 5px;
      }
    }

    .invert {
      filter: invert(100);
    }
  }
}

// PARCOURS
.parcours-contenu {
  justify-items: center;
  width: 100%;
  background: #292929;
  padding-top: 20px;
  display: grid;

  .titre {
    font-family: "header";
    font-size: 45px;
    color: #639fab;
    margin-right: 1000px;
    margin-bottom: 200px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;

    @media  screen and (max-width: 1200px) {
      font-size: 18px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  .parcours {
    display: flex;
    width: 1200px;

    @media  screen and (max-width: 1200px) {
      width: 100vw;
      display: flex;
      flex-direction: column;
    }

    .img {
      filter: invert(100);
      width: 40px;

      @media  screen and (max-width: 1200px) {
        width: 20px;
      }
    }

    .box-left {
      width: 500px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media  screen and (max-width: 1200px) {
        margin-top: 0px;
        width: 100vw;
      }

      .haut {
        display: flex;
        gap: 20px;
        align-items: center;

        @media  screen and (max-width: 1200px) {
          gap: 5px;
          width: 90vw;
          margin-left: 20px;
        }
        
        h1 {
          @media  screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }

      .p {
        font-size: 25px;
        color: #939393;
        margin-top: -15px;
        margin-left: 5px;

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
          width: 90vw;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
    }

    .box-right {
      width: 500px;
      margin-top: 220px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media  screen and (max-width: 1200px) {
        margin-top: 0px;
        width: 100vw;
      }

      .haut {
        display: flex;
        gap: 20px;
        align-items: center;

        @media  screen and (max-width: 1200px) {
          gap: 5px;
          width: 90vw;
          margin-left: 20px;
        }

        h1 {
          @media  screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }

      .p {
        font-size: 25px;
        color: #939393;
        margin-top: -15px;
        margin-left: 5px;

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
          width: 90vw;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
    }
  }
}

// N'2
.parcours-contenu2 {
  justify-items: center;
  width: 100%;
  background: #292929;
  padding-top: 20px;
  display: grid;

  @media  screen and (max-width: 1200px) {
    padding-top: 0px;
  }

  .parcours2 {
    display: flex;
    width: 1200px;

    @media  screen and (max-width: 1200px) {
      width: 100vw;
      display: flex;
      flex-direction: column;
    }


    .img {
      filter: invert(100);
      width: 40px;

      @media  screen and (max-width: 1200px) {
        width: 20px;
      }
    }

    .box-left2 {
      width: 500px;
      margin-top: 60px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media  screen and (max-width: 1200px) {
        margin-top: 0px;
        width: 100vw;
      }

      .haut2 {
        display: flex;
        gap: 20px;
        align-items: center;

        @media  screen and (max-width: 1200px) {
          gap: 10px;
          width: 90vw;
          margin-left: 20px;
        }

        h1 {
          @media  screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }

      .p {
        font-size: 25px;
        color: #939393;
        margin-top: -15px;

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
          width: 90vw;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
    }

    .box-right2 {
      width: 500px;
      margin-top: 280px;
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media  screen and (max-width: 1200px) {
        margin-top: 0px;
        width: 100vw;
      }

      .haut2 {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 600px;

        @media  screen and (max-width: 1200px) {
          gap: 5px;
          width: 90vw;
          margin-left: 20px;
        }

        h1 {
          @media  screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }

      .p {
        font-size: 25px;
        color: #939393;
        margin-top: -15px;
        margin-left: 5px; 

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
          width: 90vw;
          margin-top: -5px;
          margin-left: 20px;
        }
      }
    }
  }

  padding-bottom: 200px;
  margin-bottom: 100px;

  @media  screen and (max-width: 1200px) {
    padding-bottom: 40px;
    margin-bottom: 60px;
  }
}

hr {
  opacity: 0.4;

  @media  screen and (max-width: 1200px) {
    display: none;
  }
}


// PROJETS
.prrojets-contenu {
  justify-items: center;
  width: 100%;
  display: grid;

  .h1 {
    font-family: 'header';
    color: var(--pacific-blue);
    font-size: 90px;
    margin-bottom: 50px;
    margin-top: 240px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;

    @media  screen and (max-width: 1200px) {
      font-size: 35px;
      margin-bottom: 30px;
      margin-top: 140px;
    }
  }

  .projets {
    width: 1200px;

    @media  screen and (max-width: 1200px) {
      width: 100vw;
      justify-items: center;
      display: grid;
    }

    .card-pro {
      border: solid 1px #ffffff24;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 40px;
      width: 1200px;
      // SCROLL ANIMATION
      animation: scroll linear;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      @media  screen and (max-width: 1200px) {
        width: 90vw;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
      
      .id {
        font-size: 28px;
        margin-left: 5px;
        color: #ffffff54;

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
        }
      }

      h1 {
        font-size: 54px;
        margin-top: 20px;
        margin-bottom: 0px;
        font-family: 'header';
        color: var(--powder-blue);
        margin-left: 20px;

        @media  screen and (max-width: 1200px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 25px;
        width: 90%;
        margin-left: 20px;

        @media  screen and (max-width: 1200px) {
          font-size: 12px;
        }

        em {
          opacity: 0.4;
        }
      }

      .statut {
        color: #ffffff54;
        
        a {
          color: #1c5d99;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }

      .hr {
        opacity: 0.15;

        @media  screen and (max-width: 1200px) {
          display: block;
        }
      }

      img {
        width: 1200px;
        border-radius: 10px;

        @media  screen and (max-width: 1200px) {
          width: 90vw;
        }
      }
    }
  }
}



// CONTACTS